body{
    width: 100%;
    margin: 0 auto;
    background-color:rgb(105,105,105);
    font-family: lato, sans-serif;
}
.nav-bar {
  position:fixed;
  top:0;
  width: 100%;
  height: 100px;
  background-color: rgb(29,35,36);
  z-index: 1;
  color:white;
}
.logo {
    padding: 0;
    margin: 5px 0px 0px 30px;
    height: 100px;
    float: left;
  }
.nav-list {
  float: left;
  list-style-type: none;
}
.list-item {
  float: left;
  /*   padding:; */
  margin: 30px ;
}
.list-item a{
  color:white;
    text-decoration:none;
}
.list-item a:hover{
  color:red;
    text-decoration:none;
}
.slideshow{
  margin: 60px auto;
  padding-top: 50px;
  height: 1000px;
  background-color: rgb(101, 105, 105);
  box-sizing: border-box; 
}
.content{
  margin: auto;
  /* margin-left: 680px; */
  width: 390px;
  perspective: 1000px;
  position: relative;
  padding-top: 80px;
}
.content-carrousel{
  width: 100%;
  position: absolute;
  float: right;
  animation: rotar 15s infinite linear;
  transform-style: preserve-3d
}
.content-carrousel:hover{
  animation-play-state: paused;
  cursor: pointer;
}
.content-carrousel figure{
  width: 100%;
  height: 250px;
  border: 1px solid #4d444d;
  overflow: hidden;
  position: absolute;
}
.content-carrousel figure:nth-child(1){
  transform: rotateY(0deg) translateZ(600px);
}
.content-carrousel figure:nth-child(2){
  transform: rotateY(40deg) translateZ(600px);
}
.content-carrousel figure:nth-child(3){
  transform: rotateY(80deg) translateZ(600px);
}
.content-carrousel figure:nth-child(4){
  transform: rotateY(120deg) translateZ(600px);
}
.content-carrousel figure:nth-child(5){
  transform: rotateY(160deg) translateZ(600px);
}
.content-carrousel figure:nth-child(6){
  transform: rotateY(200deg) translateZ(600px);
}
.content-carrousel figure:nth-child(7){
  transform: rotateY(240deg) translateZ(600px);
}
.content-carrousel figure:nth-child(8){
  transform: rotateY(280deg) translateZ(600px);
}
.content-carrousel figure:nth-child(9){
  transform: rotateY(320deg) translateZ(600px);
}
.shadow{
  position: absolute;
  box-shadow: 0px 0px 20px 0px #000000;
  border-radius: 5px;
}
.content-carrousel img{
  image-rendering: auto;
  transition: all 300ms;
  width: 100%;
  height: 100%;
}
.content-carrousel img:hover{
  transform: scale(1.02);
  transform: all  300ms;
}
@keyframes rotar{
  from{
    transform: rotateY(0deg)
  } to{
    transform: rotateY(360deg)
  }
}
/* .hero{
  background-image: url(../images/img-1.png);
  background-size: 100%; 
  background-position: center;
  height:1030px;
  margin-top: 80px;
}
.hero-text-box{
  height: 100px;
  width: 200px;
  background-color:rgb(63, 28, 168);
  border: solid 3px forestgreen;
  position: absolute;
  left:830px;
  top:435px; 
}
.hero-text{
  text-align: center;
  position: absolute;
  top: 6px;
  left: 70px; */

.container{
  height:700px;
}
.box{
  width: 32%;
  height: 650px;
  /* border: solid 3px red; */
  float:left;
  margin-left: 20px;
  margin-top: 20px;
}
.box-img{
  height:342px;

}
.box p{
  padding: 25px;
}
h1{
  display: block;
  /* background-color:blanchedalmond; */
  height:60px;
  width:250px;
  margin:auto;
}
.footer{
  width:100%;
  height: 80px;
  background-color:red;
}
/* .footer-box input{
  display: inline-block;
}
.footer-box copy{
  display: inline;
  margin: auto;
}
.footer-box social{
  position: relative;
} */

.footer-box{
  float: left;
  width:32%;
  height: 80px;
}
.input, .social, .copy{
  display: block;
  text-align: center;
  margin-top: 15px;
  margin-left: 17PX;
}
.fab:hover{
  color:rgb(0, 0, 0);

}
.fab{
  font-size: 2em;
  margin: 0px 50px;
}

.fa-twitter{
  color: #1da1f2;
}
.fa-facebook{
  color: #3b5998;
}
.fa-instagram{
  color: #bc2a8d;
}
.copy p{
  display:inline;
  text-align: center;
}